body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  /* Tus variables actuales */
  --primary: #a60df2;
  --secondary: #ff9148;
  --primary-hover: #bd4df7;
  --bg-dark: #161920;
  --bg-button-dark: #ffffff;
  --card-dark: #1f2937;
  --surface-dark: #374151;
  --text-white: #ffffff;
  --text-gray: #9ca3af;
  --border-gray: #e5e7eb;
  --tab-bg: #6b7280;
  --bg-dark-shadow: #161920;

  /* Variables para modo light */
  --bg-light: #f9fafb;
  --bg-button-light: #1f2937;
  --card-light: #ffffff;
  --surface-light: #f3f4f6;
  --text-dark: #1f2937; 
  --text-light: #6b7280;
  --border-light: #d1d5db;
  --tab-bg-light: #e5e7eb;

  /* Variables dinámicas para texto */
  --text-primary: var(--text-white);
  --text-secondary: var(--text-gray);
  --text-tertiary: #94a3b8;
  
  /* Variables dinámicas para fondos */
  --bg-main: var(--bg-dark);
  --card-bg: var(--card-dark);
  --surface-bg: var(--surface-dark);
  --border-color: var(--border-gray);
  --bg-button: var(--bg-button-dark);
}

/* Modo light */
[data-theme="light"], 
:root:not([data-theme="dark"]) {
  --text-primary: var(--text-dark); 
  --text-secondary: var(--text-light);
  --text-selector: var(--text-gray);
  --bg-main: var(--bg-light);
  --card-bg: var(--card-light);
  --surface-bg: var(--surface-light);
  --border-color: var(--border-light);
  --bg-button: var(--bg-button-dark);
  --bg-card: var(--primary);
  --ellipse-color: var(--secondary);
}

/* Modo oscuro */
[data-theme="dark"] {
  --text-primary: var(--text-white);
  --text-secondary: var(--text-gray);
  --text-selector: var(--text-light);
  --bg-main: var(--bg-dark);
  --card-bg: var(--card-dark);
  --surface-bg: var(--surface-dark);
  --border-color: var(--border-gray);
  --bg-button: var(--bg-button-light);
  --bg-card: var(--secondary);
  --ellipse-color: var(--primary);
}